In [1]:
import pandas as pd

In [2]:
#Reading CSV File
traffic_df = pd.read_csv('../data/raw/traffic_count/traffic_count_sample_raw.csv')

In [3]:
#Data Frame Information
traffic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   RequestID   1000 non-null   int64
 2   Boro        1000 non-null   object
 3   Yr          1000 non-null   int64
 4   M           1000 non-null   int64
 5   D           1000 non-null   int64
 6   HH          1000 non-null   int64
 7   MM          1000 non-null   int64
 8   Vol         1000 non-null   int64
 9   SegmentID   1000 non-null   int64
 10  WktGeom     1000 non-null   object
 11  street      1000 non-null   object
 12  fromSt      1000 non-null   object
 13  toSt        1000 non-null   object
 14  Direction   1000 non-null   object
dtypes: int64(9), object(6)
memory usage: 117.3+ KB

In [4]:
#Displaying data
traffic_df.head()

,Unnamed: 0,RequestID,Boro,Yr,M,D,HH,MM,Vol,SegmentID,WktGeom,street,fromSt,toSt,Direction
0,15601931,21198,Queens,2015,10,29,3,15,4,62193,POINT (1055204.6845146813 160120.54963350898),EMPIRE AVENUE,Sage Street,Balsam Court,EB
1,13207259,20218,Bronx,2015,4,20,1,15,8,116494,POINT (1016791.6351335181 261082.23572566232),WEST GUN HILL ROAD,Dead end,Knox Place,EB
2,20522683,26140,Brooklyn,2017,6,16,10,15,88,26554,POINT (990864.744688826 167209.6712006502),MC DONALD AVENUE,20 Avenue,Avenue J,NB
3,13284432,20451,Queens,2015,5,18,6,30,32,193887,POINT (1000339.0741818828 208482.65916709095),BORDEN AVENUE,Borden Avenue Bridge,Review Avenue,EB
4,23212585,29051,Queens,2018,10,4,4,30,17,67174,POINT (1000139.0896824674 216796.2918891169),VERNON BOULEVARD,36 Avenue,37 Avenue,NB

In [5]:
#Row counts
print(len(traffic_df.index))

1000

In [6]:
#Year from 2018 to 2020 and Manhattan Boro only
traffic_df = traffic_df[traffic_df['Yr']>=2018]
traffic_df = traffic_df[traffic_df['Boro']== 'Manhattan']
traffic_df = traffic_df.reset_index(drop=True)

In [7]:
#Row counts
print(len(traffic_df.index))

43

In [8]:
traffic_df.head()

,Unnamed: 0,RequestID,Boro,Yr,M,D,HH,MM,Vol,SegmentID,WktGeom,street,fromSt,toSt,Direction
0,26709723,32318,Manhattan,2019,10,22,19,45,170,32945,POINT (987037.145866153 206995.33960903098),4 AVENUE,14 Street/canarsie Line,Lexington Avenue Line,NB
1,24688961,29986,Manhattan,2019,3,6,15,30,10,35928,POINT (991762.5225589696 212118.1029866847),2 AVENUE,East 40 Street,East 41 Street,SB
2,25136244,30197,Manhattan,2019,6,20,21,45,12,37465,POINT (994356.5232451803 222000.08653601454),EAST 78 STREET,5 Avenue,Madison Avenue,EB
3,23049722,28471,Manhattan,2018,6,12,17,30,2,36931,POINT (998692.6275297225 219915.8085719752),EAST 79 STREET,East End Avenue,F D R Drive,WB
4,23422940,29140,Manhattan,2018,10,24,11,0,338,8100665,POINT (995156.408136993 229738.88505666723),8 AVENUE LINE,Central Park West,Central Park West,NB

In [9]:
#Volume Count per Year
grouped = traffic_df.groupby(['Yr', 'WktGeom', 'street', 'fromSt', 'toSt'])
result = grouped['Vol'].agg(['mean', 'median'])

In [10]:
result.head()

                                                                                                                      mean  \
Yr   WktGeom                                       street             fromSt                 toSt
2018 POINT (1002563.6992227704 240983.67301294883) MACOMBS DAM BRIDGE Harlem River Shoreline Harlem River Shoreline    0.0
     POINT (1008338.9008830852 256987.81390606824) BROADWAY           West 219 Street        West 220 Street         138.0
     POINT (980786.9283525413 199805.60818356037)  MURRAY STREET      Dead End               West Street              22.0
     POINT (982231.2910439767 204343.92249753332)  HUDSON STREET      Charlton Street        King Street             100.0
     POINT (983415.2827304859 213291.17110564065)  WEST 29 STREET     High Line              11 Avenue                58.0

                                                                                                                     median
Yr   WktGeom                                       street             fromSt                 toSt
2018 POINT (1002563.6992227704 240983.67301294883) MACOMBS DAM BRIDGE Harlem River Shoreline Harlem River Shoreline     0.0
     POINT (1008338.9008830852 256987.81390606824) BROADWAY           West 219 Street        West 220 Street          138.0
     POINT (980786.9283525413 199805.60818356037)  MURRAY STREET      Dead End               West Street               22.0
     POINT (982231.2910439767 204343.92249753332)  HUDSON STREET      Charlton Street        King Street              100.0
     POINT (983415.2827304859 213291.17110564065)  WEST 29 STREET     High Line              11 Avenue                 58.0

In [11]:
## result.to_csv('../data/raw/traffic_count/traffic_count.csv')