In [2]:
import pandas as pd
from sodapy import Socrata

In [3]:
client = Socrata("data.cityofnewyork.us", None)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [55]:
results = client.get("7ym2-wayt", limit = None)

In [58]:
traffic_df = pd.read_csv('./traffic.csv')

In [59]:
traffic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27414481 entries, 0 to 27414480
Data columns (total 14 columns):
 #   Column     Dtype
---  ------     -----
 0   RequestID  int64
 1   Boro       object
 2   Yr         int64
 3   M          int64
 4   D          int64
 5   HH         int64
 6   MM         int64
 7   Vol        int64
 8   SegmentID  int64
 9   WktGeom    object
 10  street     object
 11  fromSt     object
 12  toSt       object
 13  Direction  object
dtypes: int64(8), object(6)
memory usage: 2.9+ GB

In [60]:
traffic_df.head()

,RequestID,Boro,Yr,M,D,HH,MM,Vol,SegmentID,WktGeom,street,fromSt,toSt,Direction
0,1100,Staten Island,2011,10,14,10,45,102,103882,POINT (963246 173171.4),BAY ST,RICHMOND TERR,STUYVESANT PL,SB
1,1100,Staten Island,2011,10,14,11,0,110,103882,POINT (963246 173171.4),BAY ST,RICHMOND TERR,STUYVESANT PL,SB
2,1100,Staten Island,2011,10,14,11,15,101,103882,POINT (963246 173171.4),BAY ST,RICHMOND TERR,STUYVESANT PL,SB
3,1100,Staten Island,2011,10,14,11,30,112,103882,POINT (963246 173171.4),BAY ST,RICHMOND TERR,STUYVESANT PL,SB
4,1100,Staten Island,2011,10,14,11,45,94,103882,POINT (963246 173171.4),BAY ST,RICHMOND TERR,STUYVESANT PL,SB

In [69]:
#Year from 2018 to 2020
traffic_df = traffic_df[traffic_df['Yr']>=2018]
traffic_df = traffic_df[traffic_df['Boro']== 'Manhattan']

In [ ]:
# 890+

In [70]:
traffic_df.head()

,RequestID,Boro,Yr,M,D,HH,MM,Vol,SegmentID,WktGeom,street,fromSt,toSt,Direction
22149213,27181,Manhattan,2018,1,22,0,0,126,32790,POINT (986780.4793264889 206808.8843383262),BROADWAY,Broadway Line,14 Street/canarsie Line,SB
22149214,27181,Manhattan,2018,1,22,0,15,135,32790,POINT (986780.4793264889 206808.8843383262),BROADWAY,Broadway Line,14 Street/canarsie Line,SB
22149215,27181,Manhattan,2018,1,22,0,30,113,32790,POINT (986780.4793264889 206808.8843383262),BROADWAY,Broadway Line,14 Street/canarsie Line,SB
22149216,27181,Manhattan,2018,1,22,0,45,118,32790,POINT (986780.4793264889 206808.8843383262),BROADWAY,Broadway Line,14 Street/canarsie Line,SB
22149217,27181,Manhattan,2018,1,22,1,0,92,32790,POINT (986780.4793264889 206808.8843383262),BROADWAY,Broadway Line,14 Street/canarsie Line,SB

In [71]:
len(traffic_df.index)

1139213

In [ ]:
#Volume count per month